body {
    margin: 0;
    padding: 0;
    font-family: inherit, sans-serif;
}

.container, .circle, .site-left, .site-right{
	display: flex;
   	justify-content: center;
   	align-items: center;
   	font-size: 1.5em;
}

.container {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.circle {
    position: absolute;
    border-radius: 50%;
   	background-color: #BECAF4;
}

.site-left {
    background-color: #ffffff;
    color: #1C2544;
}

.site-right {
    background-color: #1C2544;
    color: #ffffff;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .container {
        flex-direction: column;
    }

    .site-left {
        width: 100vw;
        height: 50vh;
    }

    .site-right {
        width: 100vw;
        height: 50vh;
    }

    .circle {
        width: 25vw;
        height: 25vw;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    .site-left {
        width: 50vw;
        height: 100vh;
    }

    .site-right {
        width: 50vw;
        height: 100vh;
    }

    .circle {
        width: 20vw;
        height: 20vw;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}